<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.Assel.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HotalApp">
        <activity android:name="com.Assel.myapplication2.ChooseTimeForCleaningActivity" />
        <activity android:name="com.Assel.myapplication2.CleanActivity" />
        <activity android:name="com.Assel.myapplication2.LaundaryNumberActivity" />
        <activity android:name="com.Assel.myapplication2.LaundaryActivity" />
        <activity android:name="com.Assel.myapplication2.GuestActivity" />
        <activity android:name="com.Assel.myapplication2.GuestRegisterActivity" />
        <activity android:name="com.Assel.myapplication2.RoomServiceActivity" />
        <activity android:name="com.Assel.myapplication2.ResidenceActivity" />
        <activity android:name="com.Assel.myapplication2.MainActivity" />
        <activity android:name="com.Assel.myapplication2.RateUsActivity" />
        <activity android:name="com.Assel.myapplication2.SplachActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.Assel.myapplication2.RegisterActivity" />
        <activity android:name="com.Assel.myapplication2.LogInActivity" />
    </application>

</manifest>